*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    margin: 0 100px;
    background-color:#000032;
  }
  
  .nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }
  
  .nav .logo h1{
    font-weight: 600;
    font-family: sans-serif;
    color: #ffffff;
  }
  
  .nav .logo b{
    color: #ffffff;
  }
  
  .nav ul{
    display: flex;
    list-style: none;
  }
  
  .nav ul li{
    margin-right: 30px;
  }
  
  .nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
  }